* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 5px solid #000;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

article h2 {
  text-align: center;
  background-color: #dad9d9;
  text-transform: uppercase;
  padding: 10px;
}

article strong {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

article .text {
  color: #444;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

article p {
  color: #444;
}

article a:link {
  color: #444;
  display: inline-block;
  margin-bottom: 30px;
}

article a:hover {
  text-decoration: none;
}

section h3 {
  text-transform: uppercase;
}

section ul {
  list-style: square;
  color: #444;
}

section ul li {
  margin-top: 10px;
  margin-left: 20px;
}

article button {
  background-color: #000;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border-top: 5px solid #000;
}

article button:hover {
  background-color: #fff;
  color: #000;
}
